

nav div .botonMenu {
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    background-color: red;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 5px 15px;
    font-family: Calibri;
}

nav div .botonMenu:hover {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    color: red;
}



.izquierda {
    display: block;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 4px;
    
    background-size: cover;
     background-position: center;
    
     text-align: left;
     
  
     
}
.izquierda img{
    padding: 20px; ;
    width: 50%;
    height: 50%;
   
    margin-left: 80px;
}

.izquierda ul li{

   
    background: #9e9696;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #ce1313;
    font-family: 'calairi';
    list-style: none;
    margin: 10px 2px ;
    text-align: left;

}
.izquierda ul{
    margin-right: 5%;
    margin-left: -30px;
}
.izquierda ul li:hover{
    width: 90%;
    background: #b90e0e;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #d4cbcb;
    font-family: 'calairi';
    list-style: none;
    margin: 10px 2px ;
    text-align: left;

}
.izquierda p a{
    font-family: 'calibri';
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.izquierda h4{
    font-family: 'calibri';
    font-size: 20px;
    color: red;
    text-align: center;

    
}
.derecha {
    display: block;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 4px;
    background : rgb(204, 192, 192);
    background-size: cover;
     
     border: 3px solid black;
     color: #000;
}
.derecha h4{
   
    font-family: 'calibri';
    font-size: 20px;
    color: #ce1313;
    text-align: center;
    
}
.derecha form{
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
}
