* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 26%, 0), hsla(0, 0%, 26%, 0)), url(../img/BanerCH4.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 0%, 100%, 0.87), hsla(0, 0%, 100%, 0.87)), url(../img/BanerCH4.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav {
    text-align: right;
    padding: 30px 50px 30px 0px;
    background:url(../img/BannerPG.png);
    background-size: cover;
}

nav>a {
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    background-color:red;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 5px 15px;
}

nav>a:hover {
    text-decoration: underline;
    background-color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}


